@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(45deg,#4158d0,#c850c0, #ffcc70);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(204, 204, 204, 0.5);
    padding: 15px 25px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    transition: all .5s ;
    margin-bottom: 25px;
}

.container:hover {
    box-shadow: 0px 26px 70px 1px rgba(0,0,0,0.4);
    transform: scale((1.001));
}

.container h1 {
    font-weight: 500;

}

.copyright {
    position: absolute;
    bottom: 20px;
}

@media (max-width: 460px) {
    .container h1 {
        font-size: 24px;
    }
}
