/* core styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 100%;


}

.section-title h1 {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 5px;
    color: #000;
    font-family: 'Lato';
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.section-subtitle p {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: rgb(141, 139, 139);
    font-family: 'Lato';
    padding-top: 10px;
    padding-bottom: 20px;
}

/* header section styles */

.header-nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 10;

}

.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Lato';

}



.nav-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.dropdown {
    /* height: 100% ; */
    position: relative;
    top: 2px;

}

.dropdown:hover .dropwown-content {
    display: block;
}

.dropdown:hover {
    background-color: white;

}


.dropdown-current {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Lato';

}

.dropdown-current:hover {
    color: black;
}

.dropwown-content {
    position: absolute;
    top: 18px;
    background-color: white;
    display: none;
}

.dropwown-content p {
    color: black;
    padding: 10px;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-align: start;

}

.dropwown-content:hover p {
    background-color: rgb(144, 139, 139);
    border: 1px solid white;
}

.nav-left i {
    color: white;
    margin-right: 20px;
}

/* main section styles */

.home-page {
    background: url('../images/home\ page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 25px;
}

.home-page h1 {
    color: white;
    font-weight: 400;
    font-family: 'Lato';
    letter-spacing: 5px;
    margin-bottom: 15px;
}

.home-page p {
    color: white;
    font-family: 'Lato';
    font-weight: 700;
}

.description-div {
    width: 700px;
    margin: auto;
    text-align: justify;
}

.photograper-imgs {
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.img {
    width: 153px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.img p {
    font-family: 'Lato';
    font-weight: 400;
}

.img img {
    width: 153px;
    border-radius: 6px;
}

.tickets-section {
    width: 100%;
    height: auto;
    background-color: #000;
    padding-bottom: 70px;
}

.section-title .black-text {
    color: white;
}

.month {
    width: 900px;
    height: 130px;
    margin: auto;
    background-color: white;
}

.september {
    width: 100%;
    border-bottom: 1px solid rgb(141, 139, 139);
    padding: 13px;
}

.september p {
    display: inline;
    color: rgb(141, 139, 139);
    font-family: 'Lato';
}

.september span {
    background-color: rgb(244, 67, 54);
    padding: 5px;
    color: white;
    margin: 10px;
    font-family: 'Lato';
}

.october {
    width: 100%;
    border-bottom: 1px solid rgb(141, 139, 139);
    padding: 13px;
}

.october p {
    display: inline;
    color: rgb(141, 139, 139);
    font-family: 'Lato';
}

.october span {
    background-color: rgb(244, 67, 54);
    padding: 5px;
    color: white;
    margin: 10px;
    font-family: 'Lato';
}

.november {
    width: 100%;

    padding: 13px;

    display: flex;
    justify-content: space-between;
}

.november p {
    display: inline;
    color: rgb(141, 139, 139);
    font-family: 'Lato';
    padding-bottom: 15px;
}

.november-number {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.ticket-cards {
    margin: auto;
    margin-top: 40px;
    width: 735px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.month {
    width: 735px;

}

.card {
    width: 261px;
    height: auto;
    background-color: white;
}

.card img {
    width: 100%;
}

.card-title {
    color: black;
    font-weight: 700;
    font-family: 'Lato';
    padding: 10px;
}

.card-subtitle {
    color: rgb(141, 139, 139);
    font-size: 15px;
    font-family: 'Lato';
    padding: 10px;
}

.card-description {
    padding: 10px;
    font-family: 'Lato';
}

.card-button {
    margin: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    font-family: 'Lato';
}

.card-button:hover {
    background-color: rgb(141, 139, 139);
    color: black;
}

.contact-us {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.chicago {
    display: flex;
    gap: 20px;
    align-items: center;
}

.chicago p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato';
}

.phone {
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone p {
    margin-top: 9px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato';
}

.email {
    display: flex;
    align-items: end;
    gap: 20px;
}

.email p {
    margin-top: 9px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato';
}

.half-row {
    display: flex;
    gap: 15px;
}

.half-row .name {
    padding: 12px;
    border: 1px solid rgb(141, 139, 139);
    border-radius: 3px;
}

.half-row .name::placeholder {
    color: rgb(141, 139, 139);
    font-family: 'Lato';
}

.half-row .email {
    padding: 12px;
    border: 1px solid rgb(141, 139, 139);
    border-radius: 3px;
}

 .message {
    margin-top: 8px;
    width: 100%;
    padding: 12px;
}

.message::placeholder {
    font-family: 'Lato';
}

.button {
    margin-top: 15px;
    display: flex;
    justify-content: end;
    align-items: center ;
}

.button button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
}

.button button:hover {
    background-color: rgb(141, 139, 139);
    color: black;
}

.footer-section {
    padding-top: 25px;
}

.footer-background {
    background: url('../images/footer\ img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    
}

.footer-social {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 70px;
}

.footer-social i {
    font-size: 24px;
    display: block;
}

.footer-section p {
    text-align: center;
    color: rgb(141, 139, 139);
    font-family: 'Lato';
    padding: 15px;
}