.main-section {
    margin-top: 80px;
    background-color: #FFFFFF;
    display: flex;
}

.main-section__home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.main-section__img {
    width: 508.12px;

}

.section-home__info h1 {
    color: #0B132A;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
}

.section-home__info .p {
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
}

.section-home__info ul li {
    display: flex;
    gap: 15px;

}

.section-home__info ul li p {
    color: #4F5665;
    margin-bottom: 20px;
    transition: color 0.2s ease-in-out;
}

.section-home__info ul li p:hover {
    color: #0B132A;
}

.section-home__info ul li img {
    margin-bottom: 20px;
}

.titles {
    width: 100%;
    padding-top: 50px;
}


/* card  */
.cards-section {
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: #f7f6f6;

}

.cards {
    margin-top: 60px;
    padding: 60px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    height: 760px;
    background-color: #FFFFFF;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.center-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    
}



.center-ul li {
    display: flex;
    gap: 20px;
}

.center-ul li p {
    color: #4F5665;
    font-weight: 400;
    font-size: 14px;
}

.card-bottom h1 {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.card-bottom span {
    color: #ddd;
    font-weight: 400;
}

.card-bottom button {
    width: 130px;
    margin-top: 20px;
    padding: 10px 30px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background-color: #0b132a00;
    color: #F53838;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

}

.card-bottom button:hover {
    background-color: #F53838;
    color: #ddd;
}

.card-top h2 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.card-bottom .btn-active {
    background-color: #F53838;
    color: white;
}

/* map section styles */

.map {
    margin-top: 150px;
}

.section-subtitle .span p span {
    font-weight: 600px;
}

.map-img img {
    margin-top: 140px;
    width: 1059.9998779296875;
    margin-bottom: 140px;
}

.partners img {
    width: 190px;

}

.partners {
    display: flex;
    justify-content: space-around;
}

/* comment section */
.comment-margin {
    padding-top: 70px;
}

.comment-cards {
    width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: auto;
    border-radius: 10px;
    margin-top: 60px;
    padding: 30px 20px;

    display: flex;
    justify-content: space-evenly;
    transition: 0.3s all ease-in-out;
}

.comment-cards:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(161, 8, 8, 0.12) 0px -12px 30px, rgba(208, 7, 7, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.comment-card {
    width: 340px;
    border: 2px solid #DDDD;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.4s ease-in;

}

.comment-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: scale(1.2, 1);
    transform: translate(9px, 6px);
}

.comment-info {
    display: flex;
    justify-content: space-between;
}

.comment-username {
    display: flex;
    align-items: center;
    gap: 15px;
}

.robert {
    font-weight: 500;
    color: #0B132A;
    font-size: 18px;
}

.Warsaw {
    font-weight: 400;
    font-size: 14px;
}

.comment-stars {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment-bottom p {
    padding-top: 7px;
    font-weight: 400;
    font-size: 16px;
}

/* carousel section styles  */
.carousel-section {
    padding: 60px 10px;
    display: flex;
    justify-content: space-between;
}

.left-carousel {
    display: flex;
    gap: 8px;
}

.carousel-red {
    width: 40px;
    height: 13px;
    background-color: #F53838;
    border-radius: 15px;
}

.carousel {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #DDE0E4;
}

.right-carousel {
    display: flex;
    gap: 15px;
}

.indicator-left {
    width: 50px;
    height: 50px;
    border: 2px solid #F53838;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.indicator-left:hover {
    background-color: #F53838;

}

.indicator-left .hover:hover {
    color: white;
}

.indicator-right {
    width: 50px;
    height: 50px;
    border: 2px solid #F53838;
    background-color: #F53838;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* subscribe section styles */
.subscribe-section {
    padding: 60px 10px;
    /* width: 1000px; */
    max-width: 1320px;
    height: 233px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 450px;
    align-items: center;
    position: relative;
    left: 90px;
    top: 70px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

}

.subscribe-right {
    color: #0B132A;
    line-height: 45px;
}
.subscribe-right p {
    color: #4F5665;
}
.subscribe-left {
    color: #4F5665;

}

.left-button {
    background-color: #F53838;
    color: white;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    transition: all 0.4s ease-out;
}

.left-button:hover {
    box-shadow: 3px 9px 20px #F53838;
}

/* footer section styles */
.footer-section {
    padding: 120px 10px;
    width: 1400px;
    display: flex;
    justify-content: center;
    gap: 300px;
    background-color: #F8F8F8;
}

.footer-description {
    color: #4F5665;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer-description span {
    font-weight: 500;
}
.footer-socail__networks {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;

}
.facebook-dev {
    width: 33.6px;
    height: 33.6px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.telegram-dev {
    width: 33.6px;
    height: 33.6px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.instagram-dev {
    width: 33.6px;
    height: 33.6px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.year {
    color: #AFB5C0;
}
.year-span {
    font-weight: 700;

}
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 140px;
}
.nav-items {
    display: flex;
}

.nav-items .nav-item  {
    color: #0B132A;
    font-weight: 500;
    margin-bottom: 30px;
}
.nav-items ul {
    list-style: none;
}
.nav-items ul li a {
    color: #4F5665;
    text-decoration: none;
    transition: 0.2s color ease-in-out;
}

.nav-items ul li {
    margin-bottom: 20px;
}

.footer-nav a:hover {
    color: #F53838;
}
